<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-10">
            <H3>Your user ID is: <%= user %>, thank you for your participation</H3>
          </div>
        </div>
    </form>

    <form class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-10">
            <H3>User list</H3>
          </div>
        </div>
    </form>

    <table class='table'>
        <tr>
            <th>ID</th>
            <th>UserID</th>
        </tr>

        <% _.each(users, function(user) { %>
        <tr data-id="<%= user.id %>" data-model="user">
            <td><%= user.id %></td>
            <td><%= user.randomid %></td>
        </tr>
        <% }) %>
    </table>

    <form class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-10">
            <a href="/vote/new" class="btn btn-danger">进入投票</a>
          </div>
        </div>
    </form>
</div>